body {
    margin: 0px;
    font-size: 16px;
	font-family: 'Microsoft Yahei';
	overflow: hidden;
}

/* 页面布局 */

article .aside-console {
    max-height: 60%;
    position: absolute;
    left: 10px;
    width: 280px;
    bottom: 10px;
    padding: 8px 20px 36px 20px;
    border-radius: 8px;
    overflow: auto;
    background-color: rgb(250, 225, 230);
    opacity: 0.8;
}

article .aside-left {
    max-height: 70%;
    position: absolute;
    right: 310px;
    width: 220px;
    bottom: 10px;
    padding: 20px;
    overflow: auto;
    background-color: rgb(250, 225, 230);
    border-radius: 8px;
    opacity: 0.8;
}

article .graph {
    position: absolute;
    left: 0px;
    right: 300px;
}

article .aside-right {
    position: absolute;
    right: 0px;
    background-color: rgba(255, 182, 193, 0.6);
    width: 300px;
    height: 100%;
    overflow: auto;
}

article .hover {
    position: absolute;
    right: 300px;
    background-color: #ddd;
    width: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.9;
    border-bottom-left-radius: 8px;
}

/* 控制台 */

.aside-console .console-header {
    position: absolute;
    bottom: 10px;
}

.aside-console .img-tri {
    padding-right: 10px;
    cursor: pointer;
}

.aside-console .h1 {
    font-size: 17px;
    font-weight: bold;
}

.console-content {
    margin-top: 10px;
    margin-bottom: 20px;
}

.console-content .subtitle {
    padding-top: 10px;
    padding-bottom: 10px;
}

.console-content .field-range-console {
    margin-left: 20px;
    width: 150px;
    -webkit-appearance: none;
    background-color: #ebeff4;
    height:4px;
    padding: 0;
    border: none;
}

.console-content .field-range-console::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    top: 0;
    height: 20px;
    width: 20px;
    transform: translateY(0px);
    background: #fff;
    border-radius: 15px;
    border: 5px solid #51ccee;
}

.console-content .mul-select {
    width: 100%;
    height: 180px;
}

.console-content .btn-field {
    padding-top: 15px;
    padding-bottom: 15px;
}

.console-content .console-btn {
    margin-right: 10px;
    width: 60px;
    height: 24px;
    border-width: 0;
    border-radius: 5px;
    background-color: #51ccee;
    cursor: pointer;
    color: #fff;
}

.console-content .single-select {
    margin-left: 20px;
    padding-left: 10px;
    width: 160px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
}

/* 左侧边栏 */

.aside-left .aside-left-close {
    font-size: 14px;
    float: right;
    cursor: pointer;
}

.aside-left .info-field {
    margin-top: 10px;
}

.aside-left .h1 {
    font-size: 20px;
    font-weight: bold;
}

.aside-left .info-field-score {
    color: red;
    font-weight: bold;
}

/* 右侧边栏 */

.right-info {
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(250, 225, 230);
}

.right-info .img-tri {
    padding-right: 10px;
    cursor: pointer;
}

.right-info .right-info-detail {
    padding: 10px;
}

.right-info select {
    width: 100%;
    height: 200px;
}

.chooseBtn {
    display: none;
}

.choose-label {
    top: 4px;
    box-shadow: #ccc 0px 0px 0px 1px;
    width: 40px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    background-color: #bdbdbd;
    overflow: hidden;
}

.choose-label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background-color: #fff;
    z-index: 20;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.chooseBtn:checked + label.choose-label:before {
    left: 20px;
}

.chooseBtn:checked + label.choose-label {
    background-color: #51ccee;
}

.right-info .interst-field-form {
    padding-top: 15px;
}

.right-info .field-range {
    margin-left: 20px;
    width: 150px;
    -webkit-appearance: none;
    background-color: #ebeff4;
    height:4px;
    padding: 0;
    border: none;
}

.right-info .field-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    top: 0;
    height: 20px;
    width: 20px;
    transform: translateY(0px);
    background: #fff;
    border-radius: 15px;
    border: 5px solid #51ccee;
}

.right-info .btn-field {
    padding-top: 15px;
}

.right-info .aside-btn {
    margin-right: 10px;
    width: 60px;
    height: 24px;
    border-width: 0;
    border-radius: 5px;
    background-color: #51ccee;
    cursor: pointer;
    color: #fff;
}

.right-info .aside-btn-right {
    float: right;
}

/* 搜索框 */

.search {
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 5px;
    height: 32px;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, .88);
}

.search input {
    width: 140px;
    height: 28px;
    float: left;
    outline: none;
    border-width: 0;
    font-size: 16px;
}

.search button {
    background: url("../images/search.png");
    width: 32px;
    height: 32px;
    border-width: 0;
    padding: 0px;
    cursor: pointer;
}

.search-result {
    padding: 16px 12px 6px 12px;
}

.search-result span {
    float: right;
    padding-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.search-result .search-items {
    padding-top: 10px;
}

.search-result .search-items .search-item {
    float: left;
    cursor: pointer;
    padding: 2px 8px 2px 8px;
    margin: 3px;
    border-radius: 6px;
    background-color: lightpink;
}

/* 图表 */

#graph .node {
    font: 10px sans-serif;
}

#graph .link {
    stroke: steelblue;
    stroke-opacity: 0.5;
    fill: none;
    pointer-events: none;
}